streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
openai
langchain-huggingface
huggingface-hub
faiss-cpu
rank-bm25
pypdf
fpdf
python-dotenv
tiktoken
langsmith
torch
transformers
sentence-transformers